<template>
  <div class="home">
    <section class="main-section">
      <h1 class="app-main-title">
        Inspírate en imágenes para crear tu esquema de colores.
      </h1>
      <a-row type="flex" justify="center" align="middle">
        <a-col span="20" :md="12" style="padding: 15px">
          <a-upload-dragger
            name="file"
            :multiple="false"
            class="upload-drag"
            :before-upload="previewFile"
            :showUploadList="false"
          >
            <a-spin :spinning="fileLoading" size="small">
              <img
                v-if="imageUrl === ''"
                class="img-upload"
                :src="require('@/assets/picture.png')"
              />
              <img v-if="imageUrl !== ''" class="img-preview" :src="imageUrl" />
              <p class="upload-text" v-if="imageUrl === ''">
                Click o arrastra tu propia imagen para analizar
              </p>
            </a-spin>
          </a-upload-dragger>
          <color-analyser
            :imgSource="imageUrl"
            :ratio="ratioToCompare"
            :showPreview="false"
          ></color-analyser>
        </a-col>
      </a-row>
    </section>
    <a-row
      v-if="false"
      type="flex"
      justify="center"
      align="middle"
      class="images-list"
    >
      <a-col span="15" :md="8">
        <p>Umbral de diferencia de color</p>
        <a-slider id="test" v-model="ratio" @afterChange="changeRatio" />
      </a-col>
    </a-row>
    <a-row type="flex" justify="center" align="middle">
      <a-col
        span="24"
        :md="8"
        class="example-images"
        v-for="(item, index) in images"
        :key="'imagelist' + index"
      >
        <color-analyser
          :imgSource="item"
          :ratio="ratioToCompare"
        ></color-analyser>
      </a-col>
    </a-row>
    <infinite-loading @infinite="loadImages"></infinite-loading>
  </div>
</template>

<script>
function getBase64(img, callback) {
  const reader = new FileReader();
  reader.addEventListener("load", () => callback(reader.result));
  reader.readAsDataURL(img);
}
// @ is an alias to /src
import ColorAnalyser from "@/components/ColorAnalyser.vue";
import { fetchRandomImage } from "@/api/services/imageService";

export default {
  name: "Home",
  data() {
    return {
      imageUrl: "",
      fileList: [],
      ratio: 36,
      ratioToCompare: 36,
      fileLoading: false,
      images: [],
    };
  },
  mounted() {},
  methods: {
    changeRatio(value) {
      this.ratioToCompare = value;
    },
    loadImages($state = null) {
      this.loadingExamples = true;
      let promises = [];
      for (let i = 1; i <= 6; i++) {
        promises.push(fetchRandomImage());
      }
      Promise.all(promises)
        .then((response) => {
          this.images.push(...response);
          if ($state !== null) $state.loaded();
          this.loadingExamples = false;
        })
        .catch((error) => {
          $state.loaded();
          console.log(error);
        });
    },
    previewFile(file) {
      this.fileLoading = true;
      this.fileList = [];
      getBase64(file, (imageUrl) => {
        this.imageUrl = imageUrl;
        this.fileLoading = false;
      });
      return false;
    },
  },
  components: {
    ColorAnalyser,
  },
};
</script>
<style lang="scss" scoped>
.upload-input {
  margin-top: 30px;
  margin-bottom: 30px;
}
.images-list {
  padding-top: 20px;
}
.main-section {
  min-height: 65vh;
  background: rgb(54, 209, 220);
  background: linear-gradient(
    180deg,
    rgba(54, 209, 220, 0.2) 0%,
    rgba(255, 255, 255, 1) 81%
  );
  .app-main-title {
    margin-bottom: 30px;
    padding: 50px 15px 0 15px;
    font-size: 28px;
  }
}
.upload-drag {
  &::v-deep {
    .ant-upload-drag {
      border-width: 5px;
      background-color: transparent;
      padding: 10px 10px;
      margin-bottom: 3px;
    }
    .upload-text {
      font-size: 21px;
      margin-top: 10px;
    }
  }
}
.img-preview {
  width: 100%;
  height: auto;
}
.example-images {
  padding: 10px;
}
.img-upload {
  width: 100px;
  margin-bottom: 10px;
}
.title-list {
}
</style>
