<template>
  <div class="component-container">
    <textarea
      ref="copyElement"
      v-model="selectedColor"
      class="copy-area"
    ></textarea>
    <div class="flex-container" ref="snapshot">
      <div class="img-container">
        <img
          v-if="imgSource !== ''"
          ref="imgRef"
          class="img-used"
          :src="imgSource"
          crossOrigin=""
          @load="onImgLoad"
        />
        <img
          v-if="imgSource !== '' && showPreview"
          class="img-preview"
          :src="imgSource"
        />
        <div class="column-container" v-if="colorList.length > 0">
          <div
            class="color-div"
            v-for="(color, index) in colorList"
            :style="{ backgroundColor: color }"
            :key="color + index"
            @click="
              () => {
                copyColor(color);
              }
            "
          ></div>
        </div>
      </div>
      <canvas ref="canvasForAnalysis" crossOrigin="" class="img-used"></canvas>
    </div>
    <div v-if="loading && imgSource !== ''" class="loading-container">
      <a-spin size="small"> </a-spin>
    </div>
  </div>
</template>

<script>
var space = require("color-space");
import { calculateLABColorDifference, hexToRgb, rgbToHex } from "./utils";
export default {
  name: "ColorAnalyser",
  props: {
    imgSource: String,
    ratio: {
      type: Number,
      default: 30,
    },
    showPreview: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      loading: true,
      colors: {},
      colorList: [],
      processed: false,
      selectedColor: "",
    };
  },
  mounted() {},
  watch: {
    ratio(newVal, oldVal) {
      if (newVal !== oldVal) {
        if (newVal !== "" && this.imgSource !== "") this.analyzeImage();
      }
    },
  },
  methods: {
    copyColor(color) {
      this.selectedColor = color;
      const el = this.$refs.copyElement;
      el.value = this.selectedColor;
      const selected =
        document.getSelection().rangeCount > 0
          ? document.getSelection().getRangeAt(0)
          : false;
      el.select();
      document.execCommand("copy");
      if (selected) {
        document.getSelection().removeAllRanges();
        document.getSelection().addRange(selected);
      }
      this.$message.success("Color: " + color + " guardado en el portapapeles");
    },
    onImgLoad() {
      this.analyzeImage();
    },
    drawImage() {
      //Reset canvas
      this.$refs.canvasForAnalysis.width = this.$refs.imgRef.width;
      this.$refs.canvasForAnalysis.height = this.$refs.imgRef.height;

      this.$refs.canvasForAnalysis
        .getContext("2d")
        .drawImage(
          this.$refs.imgRef,
          0,
          0,
          this.$refs.imgRef.width,
          this.$refs.imgRef.height
        );
    },
    analyzeImage() {
      //Reset values
      this.colors = {};
      this.colorList = [];
      this.loading = true;
      console.log("Begin analyzis", this.loading);
      this.getImageColors().then((result) => {
        this.colorList = result;
      });
    },
    getImageColors() {
      return new Promise((resolve, reject) => {
        try {
          this.drawImage();
          // Get data from canvas.
          let imgData = this.$refs.canvasForAnalysis
            .getContext("2d")
            .getImageData(
              0,
              0,
              this.$refs.canvasForAnalysis.width,
              this.$refs.canvasForAnalysis.height
            );
          let pixelsData = imgData.data;
          let colors = {};
          for (let i = 0; i < pixelsData.length; i += 4) {
            let red = pixelsData[i];
            let green = pixelsData[i + 1];
            let blue = pixelsData[i + 2];
            let alpha = pixelsData[i + 3];
            if (alpha >= 0.7) {
              let color = rgbToHex(red, green, blue);
              if (colors[color] === undefined) colors[color] = 1;
              else colors[color]++;
            }
          }
          let result = this.processColorList(colors);
          this.loading = false;
          this.$emit("colors-defined", this.colorList);
          resolve(result);
        } catch (error) {
          this.loading = false;
          reject(error);
        }
      });
    },
    processColorList(colors) {
      let list = Object.entries(colors);
      let resultList = [];
      list.sort(function (a, b) {
        return b[1] - a[1];
      });
      let cont = 1;

      list.forEach((element, index) => {
        if (cont === 5) return;
        if (index === 0) resultList.push(element[0]);
        else {
          if (element[1] > 5) {
            let colorA = space.rgb.lab(hexToRgb(element[0]));
            let similar = resultList.findIndex((item) => {
              let colorB = space.rgb.lab(hexToRgb(item));

              return calculateLABColorDifference(colorB, colorA) < this.ratio;
            });
            if (similar === -1) {
              resultList.push(element[0]);
              cont++;
            }
          }
        }
      });
      return resultList;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.header-response {
  text-align: center;
  margin-top: 20px;
}
.loading-container {
  margin-top: 10px;
}
.copy-area {
  position: absolute;
  left: -99999px;
  height: 0;
  width: 0;
}
.component-container {
  overflow: hidden;
  position: relative;
}
.analyse-button {
  margin-top: 20px;
  margin-bottom: 20px;
}
.flex-container {
  display: inline-flex;
  overflow: hidden;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
.img-used {
  width: auto;
  height: auto;
  position: absolute;
  max-width: 1980px;
  visibility: hidden;
}
.img-preview {
  width: 100%;
  height: auto;
}
.img-container {
  text-align: center;
  width: 100%;
}
.column-container {
  display: flex;
  width: 100%;
  gap: 5px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  .color-div {
    height: 40px;
    flex: 1;
    margin-top: 5px;
    cursor: pointer;
  }
}
.canvas-analysis {
  display: none;
}
@media only screen and (max-width: 600px) {
  .img-preview {
    width: 100%;
  }
}
</style>
